.Header {
    position: absolute;
    width: 108.95px;
    height: 19px;
    left: 31.86px;
    top: 19px;
    font-family: 'Imprima', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    // color: $header-color;
}