.contentTitle {
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
}

.signupContentText{
   color: $label-color;
   font-size: 12px;
   line-height: 10px;
   margin-bottom: 20px;
}

.forgotPassword{
    margin-top: 10px;
    margin-bottom: 10px;
    color: $button-color;
    font-size: 13px;
}

.signupText{
    color: $label-color;
    font-size: 13px;
    line-height: 10px;
}