$dark-bg-color: #000;
$dark-text-color: #fff;
$light-bg-color: #fff;
$light-text-color: #000;
$dark-primary-color: #000;
$light-primary-color: #fff;

:export {
  darkBgColor: $dark-bg-color;
  darkTextColor: $dark-text-color;
  lightBgColor: $light-bg-color;
  lightTextColor: $light-text-color;
  darkPrimaryColor: $dark-primary-color;
  lightPrimaryColor: $light-primary-color;
}