@use '../abstracts/colors' as *;

body {
    margin: 0;
    padding: 0;
}


.light {
    .text {
        color: $dark-900;
    }

    .background {
        background-color: $white !important;
    }
}

.dark {
    .text {
        color: $white;
    }

    .background {
        background-color: $dark-700 !important;
    }
}